@tailwind base;
@tailwind components;
@tailwind utilities;

.rdrDefinedRangesWrapper {
  display: none;
}
.css-1hj5xsr-MuiInputBase-root-MuiInput-root-MuiSelect-root:after {
  border: none !important;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background-color: #5c2d90 !important;
}
.hover-underline-animation::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.tourcard:hover .hover-underline-animation::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.swiper {
  padding-bottom: 55px !important;
}
.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
  font-size: 13px !important;
  width: 30px;
  height: 26px;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.swiper-button-next,
.swiper-button-prev {
  top: 40% !important;
  visibility: hidden;
  transition: visibility ease-in 0.3s;
}
.swiper-wrapper:hover ~ .swiper-button-next,
.swiper-wrapper:hover ~ .swiper-button-prev {
  visibility: visible;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
  visibility: visible;
}
.css-aqpgxn-MuiFormLabel-root-MuiInputLabel-root {
  color: #704f88 !important;
}
.css-1c2i806-MuiFormLabel-root-MuiInputLabel-root {
  color: #704f88 !important;
  font-size: 21px !important;
  font-weight: 500 !important;
  margin-bottom: 2px !important;
}
html {
  scroll-behavior: smooth;
}
@media only screen and (max-width: 786px) {
  .css-1hj5xsr-MuiInputBase-root-MuiInput-root-MuiSelect-root:before {
    bottom: -8px;
    border-bottom: 1px solid #e5e7eb;
  }
}
@media only screen and (min-width: 786px) {
  .css-1hj5xsr-MuiInputBase-root-MuiInput-root-MuiSelect-root:before {
    display: none;
  }
  .tourcard:hover .hover-underline-animation {
    background-size: 100% !important;
  }
}
